h1{color: #491212; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px;}
b{color: #8A0000; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 28px;}
p{color: brown; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 25px;}
li{color: brown; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 25px;}
a:hover{color: red;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 10px; background-color: black;}
blockquote{color: #712A00; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;}
table{margin:0 auto}
body{background-image: url(fondo.jpg);}